body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagina-login{
  background-color: rgb(235, 235, 235);
  height: 100vh;
}

.login-card{
  -webkit-box-shadow: 15px 13px 3px 2px rgba(0,0,0,0.54); 
  box-shadow: 15px 13px 3px 2px rgba(0,0,0,0.54);
}

.button-form{
  width: 100%;
}
